# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker volumes (optional, if local only)
backend_ezcars_db_data/
db-data/

# IDE/Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
